<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h2 style=" display:flex; margin:0 auto ">OPEN SMARTBAND!</h2>
  <img  src="assets/images/logo_vertical.jpg" alt="Smiley face"  style=" display:flex; margin:0 auto " height="150" width="150">
  <p style=" display:flex; margin:0 auto ">
      Trabajo de Fin de Grado.
      Universidad de La Laguna.
  </p>

  <!-- <p style=" display:flex; margin:0 auto ">
    Press "SCAN" to find bluetooth devices
  </p> -->

  <ion-card>
    <ion-card-header>
      Press "SCAN" to find bluetooth devices
    </ion-card-header>
    <ion-card-content>
      <ion-buttons end>
        <button ion-button primary (click) = "startScanning()" >SCAN</button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>








  <ion-list>
    <ion-item-sliding *ngFor="let device of devicesArray">
      <button ion-item (click)="connectToDevice(device)">
        <h2>{{device.name}}</h2>
        <p>{{device.id}}</p>
        <p>{{device.rssi}}</p>
      </button>
    </ion-item-sliding>
  </ion-list>

  <ion-spinner *ngIf="isScanning==true" name="circles"></ion-spinner>

</ion-content>
